# Introduction and installation guide
open source data analysis and manipulation tool, built on top of the Python programming language.
If you have the Anaconda distribution, pandas is already installed, otherwise, check out link below for advanced installation options:
https://pandas.pydata.org/docs/getting_started/install.html

In [1]:
import pandas as pd
import numpy as np

# Load CSV data files
CSV: <b>C</b>omma-<b>S</b>eparated <b>V</b>alues <br>
You can download the IMDB dataset used in this tutorial from the following link: https://www.kaggle.com/PromptCloudHQ/imdb-data

In [2]:
df = pd.read_csv('IMDB-Movie-Data.csv')

For more info on how to read different types of datasets check out the link below.

https://realpython.com/pandas-read-write-files/

## Dataframe methods and attributes
check the link below for more info on Dataframe mehods and attributes:<br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [3]:
#Return the first `n` rows.
df.head(2)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

In [4]:
#Return the last `n` rows.
df.tail(2)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [5]:
df.shape

(1000, 12)

In [6]:
#get the column names:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [7]:
#Print a concise summary of a DataFrame.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
Rank                  1000 non-null int64
Title                 1000 non-null object
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Year                  1000 non-null int64
Runtime (Minutes)     1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    872 non-null float64
Metascore             936 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.8+ KB

# How to acssess info in Dataframes

In [8]:
df.head(3)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0

## A single column

In [11]:
df['Genre'].head() #returns a Series

0     Action,Adventure,Sci-Fi
1    Adventure,Mystery,Sci-Fi
2             Horror,Thriller
3     Animation,Comedy,Family
4    Action,Adventure,Fantasy
Name: Genre, dtype: object

The above code returns a Series object. Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)

In [12]:
#check the type
type(df['Genre'])

pandas.core.series.Series

In [13]:
#returns a series again
#it is advised to use the first method to access a column in dataframes
df.Genre.head()

0     Action,Adventure,Sci-Fi
1    Adventure,Mystery,Sci-Fi
2             Horror,Thriller
3     Animation,Comedy,Family
4    Action,Adventure,Fantasy
Name: Genre, dtype: object

## Access multiple columns

In [14]:
#use a list of columns to access multiple columns
df[['Title', 'Genre']].head()

                     Title                     Genre
0  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1               Prometheus  Adventure,Mystery,Sci-Fi
2                    Split           Horror,Thriller
3                     Sing   Animation,Comedy,Family
4            Suicide Squad  Action,Adventure,Fantasy

Now that we are accessing multiple columns from a dataframe, it's no longer a series. The result is anothe dataframe.

In [15]:
type(df[['Title', 'Genre']])

pandas.core.frame.DataFrame

## Access rows in a dataframe
To get the values of a row, you can use 
- .iloc[] 
- .loc[]

### .iloc[]
Access rows by integer locations.

In [9]:
df.head(3)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0

In [16]:
#The first row:
df.iloc[0]

Rank                                                                  1
Title                                           Guardians of the Galaxy
Genre                                           Action,Adventure,Sci-Fi
Description           A group of intergalactic criminals are forced ...
Director                                                     James Gunn
Actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Year                                                               2014
Runtime (Minutes)                                                   121
Rating                                                              8.1
Votes                                                            757074
Revenue (Millions)                                               333.13
Metascore                                                            76
Name: 0, dtype: object

#### Access multiple rows:

In [17]:
df.iloc[[0, 10, 13]] #returns dataframes

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
10,11,Fantastic Beasts and Where to Find Them,"Adventure,Family,Fantasy",The adventures of writer Newt Scamander in New...,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133,7.5,232072,234.02,66.0
13,14,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,"Auli'i Cravalho, Dwayne Johnson, Rachel House,...",2016,107,7.7,118151,248.75,81.0

#### Access specific rows and columns:

In [18]:
df.iloc[[0, 10, 13], 1]

0                     Guardians of the Galaxy
10    Fantastic Beasts and Where to Find Them
13                                      Moana
Name: Title, dtype: object

In [19]:
df.iloc[[0, 10, 13], [1, 3]]

,Title,Description
0,Guardians of the Galaxy,A group of intergalactic criminals are forced ...
10,Fantastic Beasts and Where to Find Them,The adventures of writer Newt Scamander in New...
13,Moana,"In Ancient Polynesia, when a terrible curse in..."

#### slicing rows and columns with .iloc[]:

In [14]:
df.iloc[0:4, 2:4]

                      Genre                                        Description
0   Action,Adventure,Sci-Fi  A group of intergalactic criminals are forced ...
1  Adventure,Mystery,Sci-Fi  Following clues to the origin of mankind, a te...
2           Horror,Thriller  Three girls are kidnapped by a man with a diag...
3   Animation,Comedy,Family  In a city of humanoid animals, a hustling thea...

### .loc[]
.loc is used to access a group of rows and columns by label(s) or a boolean array.

In [11]:
df.head(3)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0

In [12]:
#right now it seems like .iloc and .loc are the same, but we will cover indices later on. 
df.loc[0]

Rank                                                                  1
Title                                           Guardians of the Galaxy
Genre                                           Action,Adventure,Sci-Fi
Description           A group of intergalactic criminals are forced ...
Director                                                     James Gunn
Actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Year                                                               2014
Runtime (Minutes)                                                   121
Rating                                                              8.1
Votes                                                            757074
Revenue (Millions)                                               333.13
Metascore                                                            76
Name: 0, dtype: object

#### Access multiple rows:

In [13]:
df.loc[[0,1]]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

#### Access specific rows and columns:

In [20]:
df.loc[[0,1], 'Title']

0    Guardians of the Galaxy
1                 Prometheus
Name: Title, dtype: object

In [21]:
df.loc[[0,1], ['Title','Genre']]

                     Title                     Genre
0  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1               Prometheus  Adventure,Mystery,Sci-Fi

#### Slicing rows and columns with .loc[]:
NOTE: Slicing is inclusive here!

In [23]:
df.loc[10:15, 'Director']

10        David Yates
11     Theodore Melfi
12     Gareth Edwards
13       Ron Clements
14    Nacho Vigalondo
15       Chris Renaud
Name: Director, dtype: object

In [24]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [25]:
df.loc[10:15, 'Director':'Runtime (Minutes)']

,Director,Actors,Year,Runtime (Minutes)
10,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133
11,Theodore Melfi,"Taraji P. Henson, Octavia Spencer, Janelle Mon...",2016,127
12,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133
13,Ron Clements,"Auli'i Cravalho, Dwayne Johnson, Rachel House,...",2016,107
14,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109
15,Chris Renaud,"Louis C.K., Eric Stonestreet, Kevin Hart, Lake...",2016,87

# Indexing:
Please check the pandas snippets notebook.

# Filtering data:

In [15]:
filt = (df['Director'] == 'David Yates') #returns a series object with boolean values

In [16]:
df[filt]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
10,11,Fantastic Beasts and Where to Find Them,"Adventure,Family,Fantasy",The adventures of writer Newt Scamander in New...,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133,7.5,232072,234.02,66.0
107,108,The Legend of Tarzan,"Action,Adventure,Drama","Tarzan, having acclimated to life in London, i...",David Yates,"Alexander Skarsgård, Rory J. Saper, Christian ...",2016,110,6.3,117590,126.59,44.0
114,115,Harry Potter and the Deathly Hallows: Part 2,"Adventure,Drama,Fantasy","Harry, Ron and Hermione search for Voldemort's...",David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, M...",2011,130,8.1,590595,380.96,87.0
314,315,Harry Potter and the Order of the Phoenix,"Adventure,Family,Fantasy",With their warning about Lord Voldemort's retu...,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, B...",2007,138,7.5,385325,292.00,71.0
418,419,Harry Potter and the Deathly Hallows: Part 1,"Adventure,Family,Fantasy",As Harry races against time and evil to destro...,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, B...",2010,146,7.7,357213,294.98,65.0
473,474,Harry Potter and the Half-Blood Prince,"Adventure,Family,Fantasy",As Harry Potter begins his sixth year at Hogwa...,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, M...",2009,153,7.5,351059,301.96,78.0

In [18]:
df.loc[filt, 'Rating']

10     7.5
107    6.3
114    8.1
314    7.5
418    7.7
473    7.5
Name: Rating, dtype: float64

In [19]:
filt = (df['Revenue (Millions)']>300)
df.loc[filt]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0
15,16,The Secret Life of Pets,"Animation,Adventure,Comedy",The quiet life of a terrier named Max is upend...,Chris Renaud,"Louis C.K., Eric Stonestreet, Kevin Hart, Lake...",2016,87,6.6,120259,368.31,61.0
33,34,Deadpool,"Action,Adventure,Comedy",A fast-talking mercenary with a morbid sense o...,Tim Miller,"Ryan Reynolds, Morena Baccarin, T.J. Miller, E...",2016,108,8.0,627797,363.02,65.0
35,36,Captain America: Civil War,"Action,Adventure,Sci-Fi",Political interference in the Avengers' activi...,Anthony Russo,"Chris Evans, Robert Downey Jr.,Scarlett Johans...",2016,147,7.9,411656,408.08,75.0
50,51,Star Wars: Episode VII - The Force Awakens,"Action,Adventure,Fantasy",Three decades after the defeat of the Galactic...,J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna...",2015,136,8.1,661608,936.63,81.0
54,55,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
60,61,Batman v Superman: Dawn of Justice,"Action,Adventure,Sci-Fi",Fearing that the actions of Superman are left ...,Zack Snyder,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei...",2016,151,6.7,472307,330.25,44.0
74,75,Zootopia,"Animation,Adventure,Comedy","In a city of anthropomorphic animals, a rookie...",Byron Howard,"Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",2016,108,8.1,296853,341.26,78.0
75,76,Pirates of the Caribbean: At World's End,"Action,Adventure,Fantasy","Captain Barbossa, Will Turner and Elizabeth Sw...",Gore Verbinski,"Johnny Depp, Orlando Bloom, Keira Knightley,Ge...",2007,169,7.1,498821,309.40,50.0
76,77,The Avengers,"Action,Sci-Fi",Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,1045588,623.28,69.0
78,79,Pirates of the Caribbean: Dead Man's Chest,"Action,Adventure,Fantasy",Jack Sparrow races to recover the heart of Dav...,Gore Verbinski,"Johnny Depp, Orlando Bloom, Keira Knightley, J...",2006,151,7.3,552027,423.03,53.0
84,85,Furious Seven,"Action,Crime,Thriller",Deckard Shaw seeks revenge against Dominic Tor...,James Wan,"Vin Diesel, Paul Walker, Dwayne Johnson, Jason...",2015,137,7.2,301249,350.03,67.0
85,86,Jurassic World,"Action,Adventure,Sci-Fi","A new theme park, built on the original site o...",Colin Trevorrow,"Chris Pratt, Bryce Dallas Howard, Ty Simpkins,...",2015,124,7.0,455169,652.18,59.0
87,88,Avatar,"Action,Adventure,Fantasy",A paraplegic marine dispatched to the moon Pan...,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",2009,162,7.8,935408,760.51,83.0
94,95,Avengers: Age of Ultron,"Action,Adventure,Sci-Fi",When Tony Stark and Bruce Banner try to jump-s...,Joss Whedon,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",2015,141,7.4,516895,458.99,66.0
114,115,Harry Potter and the Deathly Hallows: Part 2,"Adventure,Drama,Fantasy","Harry, Ron and Hermione search for Voldemort's...",David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, M...",2011,130,8.1,590595,380.96,87.0
119,120,Finding Dory,"Animation,Adventure,Comedy","The friendly but forgetful blue tang fish, Dor...",Andrew Stanton,"Ellen DeGeneres, Albert Brooks,Ed O'Neill, Kai...",2016,97,7.4,157026,486.29,77.0
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
125,126,The Jungle Book,"Adventure,Drama,Family",After a threat from the tiger Shere Khan force...,Jon Favreau,"Neel Sethi, Bill Murray, Ben Kingsley, Idris Elba",2016,106,7.5,198243,364.00,77.0
151,152,The Hunger Games,"Adventure,Sci-Fi,Thriller",Katniss Everdeen voluntarily takes her younger...,Gary Ross,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2012,142,7.2,735604,408.00,68.0
174,175,Frozen,"Animation,Adventure,Comedy",When the newly crowned Queen Elsa accidentally...,Chris Buck,"Kristen Bell, Idina Menzel, Jonathan Groff, Jo...",2013,102,7.5,451894,400.74,74.0
203,204,Iron Man,"Action,Adventure,Sci-Fi","After being held captive in an Afghan cave, bi...",Jon Favreau,"Robert Downey Jr., Gwyneth Paltrow, Terrence H...",2008,126,7.9,737719,318.30,79.0
212,213,Transformers,"Action,Adventure,Sci-Fi",An ancient struggle between two Cybertronian r...,Michael Bay,"Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese ...",2007,144,7.1,531112,318.76,61.0
241,242,Inside Out,"Animation,Adventure,Comedy",After young Riley is uprooted from her Midwest...,Pete Docter,"Amy Poehler, Bill Hader, Lewis Black, Mindy Ka...",2015,95,8.2,416689,356.45,94.0
270,271,Skyfall,"Action,Adventure,Thriller",Bond's loyalty to M is tested when her past co...,Sam Mendes,"Daniel Craig, Javier Bardem, Naomie Harris, Ju...",2012,143,7.8,547386,304.36,81.0
271,272,The Hobbit: An Unexpected Journey,"Adventure,Fantasy","A reluctant hobbit, Bilbo Baggins, sets out to...",Peter Jackson,"Martin Freeman, Ian McKellen, Richard Armitage...",2012,169,7.9,668651,303.00,58.0
279,280,Iron Man Three,"Action,Adventure,Sci-Fi",When Tony Stark's world is torn apart by a for...,Shane Black,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow...",2013,130,7.2,591023,408.99,62.0
331,332,American Sniper,"Action,Biography,Drama",Navy S.E.A.L. sniper Chris Kyle's pinpoint acc...,Clint Eastwood,"Bradley Cooper, Sienna Miller, Kyle Gallner, C...",2014,133,7.3,353305,350.12,72.0
344,345,Spider-Man 3,"Action,Adventure",A strange black entity from another world bond...,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th...",2007,139,6.2,406219,336.53,59.0
400,401,Minions,"Animation,Action,Adventure","Minions Stuart, Kevin and Bob are recruited by...",Kyle Balda,"Sandra Bullock, Jon Hamm, Michael Keaton, Pier...",2015,91,6.4,159830,336.03,56.0
450,451,Iron Man 2,"Action,Adventure,Sci-Fi",With the world now aware of his identity as Ir...,Jon Favreau,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt...",2010,124,7.0,556666,312.06,57.0
473,474,Harry Potter and the Half-Blood Prince,"Adventure,Family,Fantasy",As Harry Potter begins his sixth year at Hogwa...,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, M...",2009,153,7.5,351059,301.96,78.0
547,548,Alice in Wonderland,"Adventure,Family,Fantasy",Nineteen-year-old Alice returns to the magical...,Tim Burton,"Mia Wasikowska, Johnny Depp, Helena Bonham Car...",2010,108,6.5,324898,334.19,53.0
566,567,Transformers: Dark of the Moon,"Action,Adventure,Sci-Fi",The Autobots learn of a Cybertronian spacecraf...,Michael Bay,"Shia LaBeouf, Rosie Huntington-Whiteley, Tyres...",2011,154,6.3,338369,352.36,42.0
578,579,The Hunger Games: Catching Fire,"Action,Adventure,Mystery",Katniss Everdeen and Peeta Mellark become targ...,Francis Lawrence,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2013,146,7.6,525646,424.65,76.0
680,681,The Hunger Games: Mockingjay - Part 1,"Action,Adventure,Sci-Fi",Katniss Everdeen is in District 13 after she s...,Francis Lawrence,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2014,123,6.7,331902,337.10,64.0
688,689,Toy Story 3,"Animation,Adventure,Comedy",The toys are mistakenly delivered to a day-car...,Lee Unkrich,"Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty",2010,103,8.3,586669,414.98,92.0
710,711,Transformers: Revenge of the Fallen,"Action,Adventure,Sci-Fi",Sam Witwicky leaves the Autobots behind for a ...,Michael Bay,"Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese ...",2009,150,6.0,335757,402.08,35.0
767,768,Indiana Jones and the Kingdom of the Crystal S...,"Action,Adventure,Fantasy","Famed archaeologist/adventurer Dr. Henry ""Indi...",Steven Spielberg,"Harrison Ford, Cate Blanchett, Shia LaBeouf,Ka...",2008,122,6.2,351361,317.01,65.0
797,798,Despicable Me 2,"Animation,Adventure,Comedy","When Gru, the world's most super-bad turned su...",Pierre Coffin,"Steve Carell, Kristen Wiig, Benjamin Bratt, Mi...",2013,98,7.4,304837,368.05,62.0
941,942,The Twilight Saga: Eclipse,"Adventure,Drama,Fantasy",As a string of mysterious killings grips Seatt...,David Slade,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2010,124,4.9,192740,300.52,58.0

## Multiple conditions using And and Or
In pandas you can't use python's built-in keywords for and and or instead use **&** and **|**.

In [28]:
filt = (df['Director'] == 'David Yates') & (df['Runtime (Minutes)']>135)
df.loc[filt]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
314,315,Harry Potter and the Order of the Phoenix,"Adventure,Family,Fantasy",With their warning about Lord Voldemort's retu...,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, B...",2007,138,7.5,385325,292.00,71.0
418,419,Harry Potter and the Deathly Hallows: Part 1,"Adventure,Family,Fantasy",As Harry races against time and evil to destro...,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, B...",2010,146,7.7,357213,294.98,65.0
473,474,Harry Potter and the Half-Blood Prince,"Adventure,Family,Fantasy",As Harry Potter begins his sixth year at Hogwa...,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, M...",2009,153,7.5,351059,301.96,78.0

In [21]:
filt = (df['Director'] == 'David Yates') & ((df['Rating']>7.5) | (df['Metascore']>70))
df.loc[filt]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
114,115,Harry Potter and the Deathly Hallows: Part 2,"Adventure,Drama,Fantasy","Harry, Ron and Hermione search for Voldemort's...",David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, M...",2011,130,8.1,590595,380.96,87.0
314,315,Harry Potter and the Order of the Phoenix,"Adventure,Family,Fantasy",With their warning about Lord Voldemort's retu...,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, B...",2007,138,7.5,385325,292.00,71.0
418,419,Harry Potter and the Deathly Hallows: Part 1,"Adventure,Family,Fantasy",As Harry races against time and evil to destro...,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, B...",2010,146,7.7,357213,294.98,65.0
473,474,Harry Potter and the Half-Blood Prince,"Adventure,Family,Fantasy",As Harry Potter begins his sixth year at Hogwa...,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, M...",2009,153,7.5,351059,301.96,78.0

## .isin(values) method
Whether each element in the DataFrame is contained in values.<br>
values : iterable, Series, DataFrame or dict

In [22]:
directors = ['David Yates','Christopher Nolan', 'Steven Spielberg']
filt = df['Director'].isin(directors)

In [23]:
df.loc[filt, 'Title']

10               Fantastic Beasts and Where to Find Them
36                                          Interstellar
54                                       The Dark Knight
64                                          The Prestige
80                                             Inception
107                                 The Legend of Tarzan
114         Harry Potter and the Deathly Hallows: Part 2
124                                The Dark Knight Rises
150                                              The BFG
314            Harry Potter and the Order of the Phoenix
333                                              Lincoln
383                                      Bridge of Spies
418         Harry Potter and the Deathly Hallows: Part 1
473               Harry Potter and the Half-Blood Prince
767    Indiana Jones and the Kingdom of the Crystal S...
Name: Title, dtype: object

## filtering str columns

In [24]:
df['Genre'].head()

0     Action,Adventure,Sci-Fi
1    Adventure,Mystery,Sci-Fi
2             Horror,Thriller
3     Animation,Comedy,Family
4    Action,Adventure,Fantasy
Name: Genre, dtype: object

In [25]:
filt = df['Genre'].str.contains('Action')

In [26]:
df.loc[filt, 'Title'].head()

0     Guardians of the Galaxy
4               Suicide Squad
5              The Great Wall
8          The Lost City of Z
12                  Rogue One
Name: Title, dtype: object

# Updating the values of rows and columns:

## Change the column names:

In [27]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

You can change the names of all column by assigning a list of new column names to df.columns:
 
     df.columns = ['rank', .....]
The list containing new column names should have new labels for all columns.

In [29]:
#you can use list comprehension
df.columns = [col.lower() for col in df.columns]

In [53]:
#list comprehension
# lst = []
# for col in df.columns:
#     lst.append[col.lower()]

In [54]:
df.head()

,rank,title,genre,description,director,actors,year,runtime (minutes),rating,votes,revenue (millions),metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [55]:
df.columns = df.columns.str.replace(' ', '_')

In [56]:
df.head()

,rank,title,genre,description,director,actors,year,runtime_(minutes),rating,votes,revenue_(millions),metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

## Change a value in dataframe

In [57]:
df.loc[0, 'rank'] = 2000

In [58]:
df.head()

,rank,title,genre,description,director,actors,year,runtime_(minutes),rating,votes,revenue_(millions),metascore
0,2000,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

#### WARNING! 
if you want to change a value in your dataframe, access the value by using .lov[]. Do not use condtions on the dataframe itself as it won't apply the changes you make. For example:

In [59]:
# two ways to access a value:
print(df.loc[0, 'rank'])
print('_____________')
print(df[df['rank']==2000])

2000
_____________
   rank                    title                    genre  \
0  2000  Guardians of the Galaxy  Action,Adventure,Sci-Fi

                                         description    director  \
0  A group of intergalactic criminals are forced ...  James Gunn

                                              actors  year  runtime_(minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121

   rating   votes  revenue_(millions)  metascore
0     8.1  757074              333.13       76.0

In [60]:
df[df['rank']==2000]['rank'] = 3000

C:\Users\PC\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [61]:
df.loc[0]

rank                                                               2000
title                                           Guardians of the Galaxy
genre                                           Action,Adventure,Sci-Fi
description           A group of intergalactic criminals are forced ...
director                                                     James Gunn
actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
year                                                               2014
runtime_(minutes)                                                   121
rating                                                              8.1
votes                                                            757074
revenue_(millions)                                               333.13
metascore                                                            76
Name: 0, dtype: object

The value remains unchanged. Make sure to use the .loc method instead.<br>
check out the link below for more info on how to access and change values in pandas dataframes.

https://www.python-course.eu/pandas_replacing_values.php

# Add/Remove columns and rows

## Remove a column

In [62]:
#remove rank column, it's redundant 
df.drop(['rank', 'metascore'], axis=1)

,title,genre,description,director,actors,year,runtime_(minutes),rating,votes,revenue_(millions)
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13
1,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46
2,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12
3,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32
4,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02
5,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13
6,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06
7,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN
8,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01
9,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01
10,Fantastic Beasts and Where to Find Them,"Adventure,Family,Fantasy",The adventures of writer Newt Scamander in New...,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133,7.5,232072,234.02
11,Hidden Figures,"Biography,Drama,History",The story of a team of female African-American...,Theodore Melfi,"Taraji P. Henson, Octavia Spencer, Janelle Mon...",2016,127,7.8,93103,169.27
12,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17
13,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,"Auli'i Cravalho, Dwayne Johnson, Rachel House,...",2016,107,7.7,118151,248.75
14,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109,6.4,8612,2.87
15,The Secret Life of Pets,"Animation,Adventure,Comedy",The quiet life of a terrier named Max is upend...,Chris Renaud,"Louis C.K., Eric Stonestreet, Kevin Hart, Lake...",2016,87,6.6,120259,368.31
16,Hacksaw Ridge,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12
17,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16
18,Lion,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69
19,Arrival,"Drama,Mystery,Sci-Fi",When twelve mysterious spacecraft appear aroun...,Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",2016,116,8.0,340798,100.50
20,Gold,"Adventure,Drama,Thriller","Kenny Wells, a prospector desperate for a luck...",Stephen Gaghan,"Matthew McConaughey, Edgar Ramírez, Bryce Dall...",2016,120,6.7,19053,7.22
21,Manchester by the Sea,Drama,A depressed uncle is asked to take care of his...,Kenneth Lonergan,"Casey Affleck, Michelle Williams, Kyle Chandle...",2016,137,7.9,134213,47.70
22,Hounds of Love,"Crime,Drama,Horror",A cold-blooded predatory couple while cruising...,Ben Young,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",2016,108,6.7,1115,NaN
23,Trolls,"Animation,Adventure,Comedy","After the Bergens invade Troll Village, Poppy,...",Walt Dohrn,"Anna Kendrick, Justin Timberlake,Zooey Deschan...",2016,92,6.5,38552,153.69
24,Independence Day: Resurgence,"Action,Adventure,Sci-Fi",Two decades after the first Independence Day i...,Roland Emmerich,"Liam Hemsworth, Jeff Goldblum, Bill Pullman,Ma...",2016,120,5.3,127553,103.14
25,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN
26,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50
27,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01
28,Bad Moms,Comedy,When three overworked and under-appreciated mo...,Jon Lucas,"Mila Kunis, Kathryn Hahn, Kristen Bell,Christi...",2016,100,6.2,66540,113.08
29,Assassin's Creed,"Action,Adventure,Drama",When Callum Lynch explores the memories of his...,Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",2016,115,5.9,112813,54.65
...,...,...,...,...,...,...,...,...,...,...
970,Texas Chainsaw 3D,"Horror,Thriller",A young woman travels to Texas to collect an i...,John Luessenhop,"Alexandra Daddario, Tania Raymonde, Scott East...",2013,92,4.8,37060,34.33
971,Disturbia,"Drama,Mystery,Thriller",A teen living under house arrest becomes convi...,D.J. Caruso,"Shia LaBeouf, David Morse, Carrie-Anne Moss, S...",2007,105,6.9,193491,80.05
972,Rock of Ages,"Comedy,Drama,Musical",A small town girl and a city boy meet on the S...,Adam Shankman,"Julianne Hough, Diego Boneta, Tom Cruise, Alec...",2012,123,5.9,64513,38.51
973,Scream 4,"Horror,Mystery","Ten years have passed, and Sidney Prescott, wh...",Wes Craven,"Neve Campbell, Courteney Cox, David Arquette, ...",2011,111,6.2,108544,38.18
974,Queen of Katwe,"Biography,Drama,Sport",A Ugandan girl sees her world rapidly change a...,Mira Nair,"Madina Nalwanga, David Oyelowo, Lupita Nyong'o...",2016,124,7.4,6753,8.81
975,My Big Fat Greek Wedding 2,"Comedy,Family,Romance",A Portokalos family secret brings the beloved ...,Kirk Jones,"Nia Vardalos, John Corbett, Michael Constantin...",2016,94,6.0,20966,59.57
976,Dark Places,"Drama,Mystery,Thriller",Libby Day was only eight years old when her fa...,Gilles Paquet-Brenner,"Charlize Theron, Nicholas Hoult, Christina Hen...",2015,113,6.2,31634,NaN
977,Amateur Night,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,"Jason Biggs, Janet Montgomery,Ashley Tisdale, ...",2016,92,5.0,2229,NaN
978,It's Only the End of the World,Drama,"Louis (Gaspard Ulliel), a terminally ill write...",Xavier Dolan,"Nathalie Baye, Vincent Cassel, Marion Cotillar...",2016,97,7.0,10658,NaN
979,The Skin I Live In,"Drama,Thriller","A brilliant plastic surgeon, haunted by past t...",Pedro Almodóvar,"Antonio Banderas, Elena Anaya, Jan Cornet,Mari...",2011,120,7.6,108772,3.19
980,Miracles from Heaven,"Biography,Drama,Family",A young girl suffering from a rare digestive d...,Patricia Riggen,"Jennifer Garner, Kylie Rogers, Martin Henderso...",2016,109,7.0,12048,61.69
981,Annie,"Comedy,Drama,Family","A foster kid, who lives with her mean foster m...",Will Gluck,"Quvenzhané Wallis, Cameron Diaz, Jamie Foxx, R...",2014,118,5.3,27312,85.91
982,Across the Universe,"Drama,Fantasy,Musical",The music of the Beatles and the Vietnam War f...,Julie Taymor,"Evan Rachel Wood, Jim Sturgess, Joe Anderson, ...",2007,133,7.4,95172,24.34
983,Let's Be Cops,Comedy,Two struggling pals dress as police officers f...,Luke Greenfield,"Jake Johnson, Damon Wayans Jr., Rob Riggle, Ni...",2014,104,6.5,112729,82.39
984,Max,"Adventure,Family",A Malinois dog that helped American Marines in...,Boaz Yakin,"Thomas Haden Church, Josh Wiggins, Luke Kleint...",2015,111,6.8,21405,42.65
985,Your Highness,"Adventure,Comedy,Fantasy","When Prince Fabious's bride is kidnapped, he g...",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",2011,102,5.6,87904,21.56
986,Final Destination 5,"Horror,Thriller",Survivors of a suspension-bridge collapse lear...,Steven Quale,"Nicholas D'Agosto, Emma Bell, Arlen Escarpeta,...",2011,92,5.9,88000,42.58
987,Endless Love,"Drama,Romance",The story of a privileged girl and a charismat...,Shana Feste,"Gabriella Wilde, Alex Pettyfer, Bruce Greenwoo...",2014,104,6.3,33688,23.39
988,Martyrs,Horror,A young woman's quest for revenge against the ...,Pascal Laugier,"Morjana Alaoui, Mylène Jampanoï, Catherine Bég...",2008,99,7.1,63785,NaN
989,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07
990,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven...",2009,92,6.6,129708,45.80
991,Taare Zameen Par,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20
992,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92
993,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13
994,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72
995,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN
996,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54
997,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01
998,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN
999,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64

In [63]:
df.drop(['rank'], axis=1, inplace=True)

In [64]:
df.head()

,title,genre,description,director,actors,year,runtime_(minutes),rating,votes,revenue_(millions),metascore
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

## Add two column by slitting the values of a column

In [30]:
df['director'].str.rsplit(' ', 1, expand=True)

                0               1
0           James            Gunn
1          Ridley           Scott
2        M. Night       Shyamalan
3      Christophe       Lourdelet
4           David            Ayer
5           Yimou           Zhang
6          Damien        Chazelle
7            Sean           Foley
8           James            Gray
9          Morten          Tyldum
10          David           Yates
11       Theodore           Melfi
12         Gareth         Edwards
13            Ron        Clements
14          Nacho       Vigalondo
15          Chris          Renaud
16            Mel          Gibson
17           Paul      Greengrass
18          Garth           Davis
19          Denis      Villeneuve
20        Stephen          Gaghan
21        Kenneth        Lonergan
22            Ben           Young
23           Walt           Dohrn
24         Roland        Emmerich
25      Dominique            Abel
26           S.S.       Rajamouli
27        Phillip          Guzman
28            Jon           Lucas
29         Justin          Kurzel
..            ...             ...
970          John      Luessenhop
971          D.J.          Caruso
972          Adam        Shankman
973           Wes          Craven
974          Mira            Nair
975          Kirk           Jones
976        Gilles  Paquet-Brenner
977          Lisa         Addario
978        Xavier           Dolan
979         Pedro       Almodóvar
980      Patricia          Riggen
981          Will           Gluck
982         Julie          Taymor
983          Luke      Greenfield
984          Boaz           Yakin
985  David Gordon           Green
986        Steven           Quale
987         Shana           Feste
988        Pascal         Laugier
989           Ava        DuVernay
990       Patrick      Tatopoulos
991         Aamir            Khan
992       Michael           Dowse
993     Paul W.S.        Anderson
994          Nima      Nourizadeh
995         Billy             Ray
996           Eli            Roth
997        Jon M.             Chu
998          Scot       Armstrong
999         Barry      Sonnenfeld

[1000 rows x 2 columns]

In [65]:
#split directors' first and last name:
df[['dir_first', 'dir_last']] = df['director'].str.rsplit(' ', 1, expand=True) #1 Limits number of splits in output

In [66]:
df.columns

Index(['title', 'genre', 'description', 'director', 'actors', 'year',
       'runtime_(minutes)', 'rating', 'votes', 'revenue_(millions)',
       'metascore', 'dir_first', 'dir_last'],
      dtype='object')

In [67]:
df.drop(['dir_first', 'dir_last'], axis=1, inplace=True)

In [68]:
df.head()

,title,genre,description,director,actors,year,runtime_(minutes),rating,votes,revenue_(millions),metascore
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

## Add column using .apply() method
.apply() Applies a function along an axis of the DataFrame.
using .apply() method we are going to add a new column to our dataframe with True when a movie is longer than two hours and False when a movie is shorter.
first we have to define a function.

In [69]:
def longer(x):
    return x>120

In [70]:
df['runtime_(minutes)'].apply(longer)

0       True
1       True
2      False
3      False
4       True
5      False
6       True
7      False
8       True
9      False
10      True
11      True
12      True
13     False
14     False
15     False
16      True
17      True
18     False
19     False
20     False
21      True
22     False
23     False
24     False
25     False
26      True
27     False
28     False
29     False
       ...
970    False
971    False
972     True
973    False
974     True
975    False
976    False
977    False
978    False
979    False
980    False
981    False
982     True
983    False
984    False
985    False
986    False
987    False
988    False
989     True
990    False
991     True
992    False
993    False
994    False
995    False
996    False
997    False
998    False
999    False
Name: runtime_(minutes), Length: 1000, dtype: bool

### lambda function
A lambda function is a small anonymous function (a function without a name). lambda functions have the below syntax:

    lambda arguments: expression

Lambda functions can be used when a function object is required.

In [71]:
df['runtime_(minutes)'].apply(lambda x: True if x>=120 else False)

0       True
1       True
2      False
3      False
4       True
5      False
6       True
7      False
8       True
9      False
10      True
11      True
12      True
13     False
14     False
15     False
16      True
17      True
18     False
19     False
20      True
21      True
22     False
23     False
24      True
25     False
26      True
27     False
28     False
29     False
       ...
970    False
971    False
972     True
973    False
974     True
975    False
976    False
977    False
978    False
979     True
980    False
981    False
982     True
983    False
984    False
985    False
986    False
987    False
988    False
989     True
990    False
991     True
992    False
993    False
994    False
995    False
996    False
997    False
998    False
999    False
Name: runtime_(minutes), Length: 1000, dtype: bool

In [72]:
df['longer_than_2'] = df['runtime_(minutes)'].apply(lambda x: True if x>=120 else False)

In [73]:
df.head()

,title,genre,description,director,actors,year,runtime_(minutes),rating,votes,revenue_(millions),metascore,longer_than_2
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,True
1,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,True
2,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,False
3,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,False
4,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,True

## Remove Rows

In [31]:
df.head()

,rank,title,genre,description,director,actors,year,runtime (minutes),rating,votes,revenue (millions),metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [33]:
df.drop(index=3, inplace=False) #Notice inplace=False

,rank,title,genre,description,director,actors,year,runtime (minutes),rating,votes,revenue (millions),metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0
10,11,Fantastic Beasts and Where to Find Them,"Adventure,Family,Fantasy",The adventures of writer Newt Scamander in New...,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133,7.5,232072,234.02,66.0
11,12,Hidden Figures,"Biography,Drama,History",The story of a team of female African-American...,Theodore Melfi,"Taraji P. Henson, Octavia Spencer, Janelle Mon...",2016,127,7.8,93103,169.27,74.0
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0
13,14,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,"Auli'i Cravalho, Dwayne Johnson, Rachel House,...",2016,107,7.7,118151,248.75,81.0
14,15,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109,6.4,8612,2.87,70.0
15,16,The Secret Life of Pets,"Animation,Adventure,Comedy",The quiet life of a terrier named Max is upend...,Chris Renaud,"Louis C.K., Eric Stonestreet, Kevin Hart, Lake...",2016,87,6.6,120259,368.31,61.0
16,17,Hacksaw Ridge,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12,71.0
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
18,19,Lion,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69,69.0
19,20,Arrival,"Drama,Mystery,Sci-Fi",When twelve mysterious spacecraft appear aroun...,Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",2016,116,8.0,340798,100.50,81.0
20,21,Gold,"Adventure,Drama,Thriller","Kenny Wells, a prospector desperate for a luck...",Stephen Gaghan,"Matthew McConaughey, Edgar Ramírez, Bryce Dall...",2016,120,6.7,19053,7.22,49.0
21,22,Manchester by the Sea,Drama,A depressed uncle is asked to take care of his...,Kenneth Lonergan,"Casey Affleck, Michelle Williams, Kyle Chandle...",2016,137,7.9,134213,47.70,96.0
22,23,Hounds of Love,"Crime,Drama,Horror",A cold-blooded predatory couple while cruising...,Ben Young,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",2016,108,6.7,1115,NaN,72.0
23,24,Trolls,"Animation,Adventure,Comedy","After the Bergens invade Troll Village, Poppy,...",Walt Dohrn,"Anna Kendrick, Justin Timberlake,Zooey Deschan...",2016,92,6.5,38552,153.69,56.0
24,25,Independence Day: Resurgence,"Action,Adventure,Sci-Fi",Two decades after the first Independence Day i...,Roland Emmerich,"Liam Hemsworth, Jeff Goldblum, Bill Pullman,Ma...",2016,120,5.3,127553,103.14,32.0
25,26,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN,NaN
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
27,28,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01,NaN
28,29,Bad Moms,Comedy,When three overworked and under-appreciated mo...,Jon Lucas,"Mila Kunis, Kathryn Hahn, Kristen Bell,Christi...",2016,100,6.2,66540,113.08,60.0
29,30,Assassin's Creed,"Action,Adventure,Drama",When Callum Lynch explores the memories of his...,Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",2016,115,5.9,112813,54.65,36.0
30,31,Why Him?,Comedy,A holiday gathering threatens to go off the ra...,John Hamburg,"Zoey Deutch, James Franco, Tangie Ambrose,Cedr...",2016,111,6.3,48123,60.31,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...
970,971,Texas Chainsaw 3D,"Horror,Thriller",A young woman travels to Texas to collect an i...,John Luessenhop,"Alexandra Daddario, Tania Raymonde, Scott East...",2013,92,4.8,37060,34.33,62.0
971,972,Disturbia,"Drama,Mystery,Thriller",A teen living under house arrest becomes convi...,D.J. Caruso,"Shia LaBeouf, David Morse, Carrie-Anne Moss, S...",2007,105,6.9,193491,80.05,NaN
972,973,Rock of Ages,"Comedy,Drama,Musical",A small town girl and a city boy meet on the S...,Adam Shankman,"Julianne Hough, Diego Boneta, Tom Cruise, Alec...",2012,123,5.9,64513,38.51,47.0
973,974,Scream 4,"Horror,Mystery","Ten years have passed, and Sidney Prescott, wh...",Wes Craven,"Neve Campbell, Courteney Cox, David Arquette, ...",2011,111,6.2,108544,38.18,52.0
974,975,Queen of Katwe,"Biography,Drama,Sport",A Ugandan girl sees her world rapidly change a...,Mira Nair,"Madina Nalwanga, David Oyelowo, Lupita Nyong'o...",2016,124,7.4,6753,8.81,73.0
975,976,My Big Fat Greek Wedding 2,"Comedy,Family,Romance",A Portokalos family secret brings the beloved ...,Kirk Jones,"Nia Vardalos, John Corbett, Michael Constantin...",2016,94,6.0,20966,59.57,37.0
976,977,Dark Places,"Drama,Mystery,Thriller",Libby Day was only eight years old when her fa...,Gilles Paquet-Brenner,"Charlize Theron, Nicholas Hoult, Christina Hen...",2015,113,6.2,31634,NaN,39.0
977,978,Amateur Night,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,"Jason Biggs, Janet Montgomery,Ashley Tisdale, ...",2016,92,5.0,2229,NaN,38.0
978,979,It's Only the End of the World,Drama,"Louis (Gaspard Ulliel), a terminally ill write...",Xavier Dolan,"Nathalie Baye, Vincent Cassel, Marion Cotillar...",2016,97,7.0,10658,NaN,48.0
979,980,The Skin I Live In,"Drama,Thriller","A brilliant plastic surgeon, haunted by past t...",Pedro Almodóvar,"Antonio Banderas, Elena Anaya, Jan Cornet,Mari...",2011,120,7.6,108772,3.19,70.0
980,981,Miracles from Heaven,"Biography,Drama,Family",A young girl suffering from a rare digestive d...,Patricia Riggen,"Jennifer Garner, Kylie Rogers, Martin Henderso...",2016,109,7.0,12048,61.69,44.0
981,982,Annie,"Comedy,Drama,Family","A foster kid, who lives with her mean foster m...",Will Gluck,"Quvenzhané Wallis, Cameron Diaz, Jamie Foxx, R...",2014,118,5.3,27312,85.91,33.0
982,983,Across the Universe,"Drama,Fantasy,Musical",The music of the Beatles and the Vietnam War f...,Julie Taymor,"Evan Rachel Wood, Jim Sturgess, Joe Anderson, ...",2007,133,7.4,95172,24.34,56.0
983,984,Let's Be Cops,Comedy,Two struggling pals dress as police officers f...,Luke Greenfield,"Jake Johnson, Damon Wayans Jr., Rob Riggle, Ni...",2014,104,6.5,112729,82.39,30.0
984,985,Max,"Adventure,Family",A Malinois dog that helped American Marines in...,Boaz Yakin,"Thomas Haden Church, Josh Wiggins, Luke Kleint...",2015,111,6.8,21405,42.65,47.0
985,986,Your Highness,"Adventure,Comedy,Fantasy","When Prince Fabious's bride is kidnapped, he g...",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",2011,102,5.6,87904,21.56,31.0
986,987,Final Destination 5,"Horror,Thriller",Survivors of a suspension-bridge collapse lear...,Steven Quale,"Nicholas D'Agosto, Emma Bell, Arlen Escarpeta,...",2011,92,5.9,88000,42.58,50.0
987,988,Endless Love,"Drama,Romance",The story of a privileged girl and a charismat...,Shana Feste,"Gabriella Wilde, Alex Pettyfer, Bruce Greenwoo...",2014,104,6.3,33688,23.39,30.0
988,989,Martyrs,Horror,A young woman's quest for revenge against the ...,Pascal Laugier,"Morjana Alaoui, Mylène Jampanoï, Catherine Bég...",2008,99,7.1,63785,NaN,89.0
989,990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
990,991,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven...",2009,92,6.6,129708,45.80,44.0
991,992,Taare Zameen Par,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0
992,993,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

If you want to drop movies that were made in 2016, you can use the .index to get the index of rows which evaluate to True:

In [36]:
drop = df[df['year']==2016]
drop

,rank,title,genre,description,director,actors,year,runtime (minutes),rating,votes,revenue (millions),metascore
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0
10,11,Fantastic Beasts and Where to Find Them,"Adventure,Family,Fantasy",The adventures of writer Newt Scamander in New...,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133,7.5,232072,234.02,66.0
11,12,Hidden Figures,"Biography,Drama,History",The story of a team of female African-American...,Theodore Melfi,"Taraji P. Henson, Octavia Spencer, Janelle Mon...",2016,127,7.8,93103,169.27,74.0
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0
13,14,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,"Auli'i Cravalho, Dwayne Johnson, Rachel House,...",2016,107,7.7,118151,248.75,81.0
14,15,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109,6.4,8612,2.87,70.0
15,16,The Secret Life of Pets,"Animation,Adventure,Comedy",The quiet life of a terrier named Max is upend...,Chris Renaud,"Louis C.K., Eric Stonestreet, Kevin Hart, Lake...",2016,87,6.6,120259,368.31,61.0
16,17,Hacksaw Ridge,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12,71.0
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
18,19,Lion,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69,69.0
19,20,Arrival,"Drama,Mystery,Sci-Fi",When twelve mysterious spacecraft appear aroun...,Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",2016,116,8.0,340798,100.50,81.0
20,21,Gold,"Adventure,Drama,Thriller","Kenny Wells, a prospector desperate for a luck...",Stephen Gaghan,"Matthew McConaughey, Edgar Ramírez, Bryce Dall...",2016,120,6.7,19053,7.22,49.0
21,22,Manchester by the Sea,Drama,A depressed uncle is asked to take care of his...,Kenneth Lonergan,"Casey Affleck, Michelle Williams, Kyle Chandle...",2016,137,7.9,134213,47.70,96.0
22,23,Hounds of Love,"Crime,Drama,Horror",A cold-blooded predatory couple while cruising...,Ben Young,"Emma Booth, Ashleigh Cummings, Stephen Curry,S...",2016,108,6.7,1115,NaN,72.0
23,24,Trolls,"Animation,Adventure,Comedy","After the Bergens invade Troll Village, Poppy,...",Walt Dohrn,"Anna Kendrick, Justin Timberlake,Zooey Deschan...",2016,92,6.5,38552,153.69,56.0
24,25,Independence Day: Resurgence,"Action,Adventure,Sci-Fi",Two decades after the first Independence Day i...,Roland Emmerich,"Liam Hemsworth, Jeff Goldblum, Bill Pullman,Ma...",2016,120,5.3,127553,103.14,32.0
25,26,Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,NaN,NaN
27,28,Dead Awake,"Horror,Thriller",A young woman must save herself and her friend...,Phillip Guzman,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",2016,99,4.7,523,0.01,NaN
28,29,Bad Moms,Comedy,When three overworked and under-appreciated mo...,Jon Lucas,"Mila Kunis, Kathryn Hahn, Kristen Bell,Christi...",2016,100,6.2,66540,113.08,60.0
29,30,Assassin's Creed,"Action,Adventure,Drama",When Callum Lynch explores the memories of his...,Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",2016,115,5.9,112813,54.65,36.0
30,31,Why Him?,Comedy,A holiday gathering threatens to go off the ra...,John Hamburg,"Zoey Deutch, James Franco, Tangie Ambrose,Cedr...",2016,111,6.3,48123,60.31,39.0
31,32,Nocturnal Animals,"Drama,Thriller",A wealthy art gallery owner is haunted by her ...,Tom Ford,"Amy Adams, Jake Gyllenhaal, Michael Shannon, A...",2016,116,7.5,126030,10.64,67.0
32,33,X-Men: Apocalypse,"Action,Adventure,Sci-Fi",After the re-emergence of the world's first mu...,Bryan Singer,"James McAvoy, Michael Fassbender, Jennifer Law...",2016,144,7.1,275510,155.33,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...
827,828,The Warriors Gate,"Action,Adventure,Fantasy",A teenager is magically transported to China a...,Matthias Hoene,"Mark Chao, Ni Ni, Dave Bautista, Sienna Guillory",2016,108,5.3,1391,NaN,77.0
836,837,Bacalaureat,"Crime,Drama",A film about compromises and the implications ...,Cristian Mungiu,"Adrian Titieni, Maria-Victoria Dragus, Lia Bug...",2016,128,7.5,5531,0.13,84.0
838,839,Exposed,"Crime,Drama,Mystery",A police detective investigates the truth behi...,Gee Malik Linton,"Ana de Armas, Keanu Reeves, Christopher McDona...",2016,102,4.2,8409,NaN,23.0
839,840,Maudie,"Biography,Drama,Romance",An arthritic Nova Scotia woman works as a hous...,Aisling Walsh,"Ethan Hawke, Sally Hawkins, Kari Matchett, Zac...",2016,115,7.8,346,NaN,60.0
848,849,Mean Dreams,Thriller,"Follows Casey and Jonas, two teenagers despera...",Nathan Morlando,"Sophie Nélisse, Josh Wiggins, Joe Cobden, Bill...",2016,108,6.3,1066,NaN,64.0
855,856,Barbershop: The Next Cut,"Comedy,Drama",As their surrounding community has taken a tur...,Malcolm D. Lee,"Ice Cube, Regina Hall, Anthony Anderson, Eve",2016,111,5.9,9993,54.01,67.0
861,862,Koe no katachi,"Animation,Drama,Romance","The story revolves around Nishimiya Shoko, a g...",Naoko Yamada,"Miyu Irino, Saori Hayami, Aoi Yuki, Kenshô Ono",2016,129,8.4,2421,NaN,80.0
864,865,The 9th Life of Louis Drax,"Mystery,Thriller",A psychologist who begins working with a young...,Alexandre Aja,"Jamie Dornan, Aiden Longworth, Sarah Gadon,Aar...",2016,108,6.3,6175,NaN,41.0
866,867,Indignation,"Drama,Romance","In 1951, Marcus, a working-class Jewish studen...",James Schamus,"Logan Lerman, Sarah Gadon, Tijuana Ricks, Sue ...",2016,110,6.9,7402,3.40,78.0
880,881,Shin Gojira,"Action,Adventure,Drama",Japan is plunged into chaos upon the appearanc...,Hideaki Anno,"Hiroki Hasegawa, Yutaka Takenouchi,Satomi Ishi...",2016,120,6.9,8365,1.91,68.0
890,891,The Intent,"Crime,Drama",Gunz (Dylan Duffus) is thrust into a world of ...,Femi Oyeniran,"Dylan Duffus, Scorcher,Shone Romulus, Jade Asha",2016,104,3.5,202,NaN,59.0
905,906,In Dubious Battle,Drama,An activist gets caught up in the labor moveme...,James Franco,"Nat Wolff, James Franco, Vincent D'Onofrio, Se...",2016,110,6.2,1455,NaN,43.0
911,912,I Am the Pretty Thing That Lives in the House,Thriller,A young nurse takes care of elderly author who...,Oz Perkins,"Ruth Wilson, Paula Prentiss, Lucy Boynton, Bob...",2016,87,4.7,4204,NaN,68.0
915,916,Goksung,"Drama,Fantasy,Horror",A stranger arrives in a little village and soo...,Hong-jin Na,"Jun Kunimura, Jung-min Hwang, Do-won Kwak, Woo...",2016,156,7.5,17962,0.79,81.0
928,929,Good Kids,Comedy,Four high school students look to redefine the...,Chris McCoy,"Zoey Deutch, Nicholas Braun, Mateo Arias, Isra...",2016,86,6.1,3843,NaN,86.0
932,933,The Ticket,Drama,A blind man who regains his vision finds himse...,Ido Fluk,"Dan Stevens, Malin Akerman, Oliver Platt, Kerr...",2016,97,5.4,924,NaN,52.0
933,934,Detour,Thriller,A young law student blindly enters into a pact...,Christopher Smith,"Tye Sheridan, Emory Cohen, Bel Powley,Stephen ...",2016,97,6.3,2205,NaN,46.0
934,935,The Love Witch,"Comedy,Horror",A modern-day witch uses spells and magic to ge...,Anna Biller,"Samantha Robinson, Jeffrey Vincent Parise, Lau...",2016,120,6.2,4669,0.22,82.0
938,939,The Siege of Jadotville,"Action,Drama,Thriller",Irish Commandant Pat Quinlan leads a stand off...,Richie Smyth,"Jamie Dornan, Mark Strong, Jason O'Mara, Micha...",2016,108,7.3,14689,NaN,83.0
942,943,Transpecos,Thriller,For three Border Patrol agents working a remot...,Greg Kwedar,"Johnny Simmons, Gabriel Luna, Clifton Collins ...",2016,86,5.8,1292,NaN,73.0
947,948,King Cobra,"Crime,Drama",This ripped-from-the-headlines drama covers th...,Justin Kelly,"Garrett Clayton, Christian Slater, Molly Ringw...",2016,91,5.6,3990,0.03,48.0
949,950,Kicks,Adventure,Brandon is a 15 year old whose dream is a pair...,Justin Tipping,"Jahking Guillory, Christopher Jordan Wallace,C...",2016,80,6.1,2417,0.15,69.0
964,965,Custody,Drama,The lives of three women are unexpectedly chan...,James Lapine,"Viola Davis, Hayden Panettiere, Catalina Sandi...",2016,104,6.9,280,NaN,72.0
966,967,L'odyssée,"Adventure,Biography",Highly influential and a fearlessly ambitious ...,Jérôme Salle,"Lambert Wilson, Pierre Niney, Audrey Tautou,La...",2016,122,6.7,1810,NaN,70.0
974,975,Queen of Katwe,"Biography,Drama,Sport",A Ugandan girl sees her world rapidly change a...,Mira Nair,"Madina Nalwanga, David Oyelowo, Lupita Nyong'o...",2016,124,7.4,6753,8.81,73.0
975,976,My Big Fat Greek Wedding 2,"Comedy,Family,Romance",A Portokalos family secret brings the beloved ...,Kirk Jones,"Nia Vardalos, John Corbett, Michael Constantin...",2016,94,6.0,20966,59.57,37.0
977,978,Amateur Night,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,"Jason Biggs, Janet Montgomery,Ashley Tisdale, ...",2016,92,5.0,2229,NaN,38.0
978,979,It's Only the End of the World,Drama,"Louis (Gaspard Ulliel), a terminally ill write...",Xavier Dolan,"Nathalie Baye, Vincent Cassel, Marion Cotillar...",2016,97,7.0,10658,NaN,48.0
980,981,Miracles from Heaven,"Biography,Drama,Family",A young girl suffering from a rare digestive d...,Patricia Riggen,"Jennifer Garner, Kylie Rogers, Martin Henderso...",2016,109,7.0,12048,61.69,44.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [37]:
drop.index

Int64Index([  2,   3,   4,   5,   6,   7,   8,   9,  10,  11,
            ...
            947, 949, 964, 966, 974, 975, 977, 978, 980, 999],
           dtype='int64', length=297)

In [38]:
df.drop(index=drop.index, inplace=False)

,rank,title,genre,description,director,actors,year,runtime (minutes),rating,votes,revenue (millions),metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
26,27,Bahubali: The Beginning,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
36,37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
39,40,5- 25- 77,"Comedy,Drama","Alienated, hopeful-filmmaker Pat Johnson's epi...",Patrick Read Johnson,"John Francis Daley, Austin Pendleton, Colleen ...",2007,113,7.1,241,NaN,NaN
45,46,Pirates of the Caribbean: On Stranger Tides,"Action,Adventure,Fantasy",Jack Sparrow and Barbossa embark on a quest to...,Rob Marshall,"Johnny Depp, Penélope Cruz, Ian McShane, Geoff...",2011,136,6.7,395025,241.06,45.0
50,51,Star Wars: Episode VII - The Force Awakens,"Action,Adventure,Fantasy",Three decades after the defeat of the Galactic...,J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna...",2015,136,8.1,661608,936.63,81.0
53,54,John Wick,"Action,Crime,Thriller",An ex-hitman comes out of retirement to track ...,Chad Stahelski,"Keanu Reeves, Michael Nyqvist, Alfie Allen, Wi...",2014,101,7.2,321933,43.00,68.0
54,55,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
63,64,Fifty Shades of Grey,"Drama,Romance,Thriller",Literature student Anastasia Steele's life cha...,Sam Taylor-Johnson,"Dakota Johnson, Jamie Dornan, Jennifer Ehle,El...",2015,125,4.1,244474,166.15,46.0
64,65,The Prestige,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0
65,66,Kingsman: The Secret Service,"Action,Adventure,Comedy","A spy organization recruits an unrefined, but ...",Matthew Vaughn,"Colin Firth, Taron Egerton, Samuel L. Jackson,...",2014,129,7.7,440209,128.25,58.0
67,68,Mad Max: Fury Road,"Action,Adventure,Sci-Fi",A woman rebels against a tyrannical ruler in p...,George Miller,"Tom Hardy, Charlize Theron, Nicholas Hoult, Zo...",2015,120,8.1,632842,153.63,90.0
75,76,Pirates of the Caribbean: At World's End,"Action,Adventure,Fantasy","Captain Barbossa, Will Turner and Elizabeth Sw...",Gore Verbinski,"Johnny Depp, Orlando Bloom, Keira Knightley,Ge...",2007,169,7.1,498821,309.40,50.0
76,77,The Avengers,"Action,Sci-Fi",Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,1045588,623.28,69.0
77,78,Inglourious Basterds,"Adventure,Drama,War","In Nazi-occupied France during World War II, a...",Quentin Tarantino,"Brad Pitt, Diane Kruger, Eli Roth,Mélanie Laurent",2009,153,8.3,959065,120.52,69.0
78,79,Pirates of the Caribbean: Dead Man's Chest,"Action,Adventure,Fantasy",Jack Sparrow races to recover the heart of Dav...,Gore Verbinski,"Johnny Depp, Orlando Bloom, Keira Knightley, J...",2006,151,7.3,552027,423.03,53.0
80,81,Inception,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0
82,83,The Wolf of Wall Street,"Biography,Comedy,Crime","Based on the true story of Jordan Belfort, fro...",Martin Scorsese,"Leonardo DiCaprio, Jonah Hill, Margot Robbie,M...",2013,180,8.2,865134,116.87,75.0
83,84,Gone Girl,"Crime,Drama,Mystery",With his wife's disappearance having become th...,David Fincher,"Ben Affleck, Rosamund Pike, Neil Patrick Harri...",2014,149,8.1,636243,167.74,79.0
84,85,Furious Seven,"Action,Crime,Thriller",Deckard Shaw seeks revenge against Dominic Tor...,James Wan,"Vin Diesel, Paul Walker, Dwayne Johnson, Jason...",2015,137,7.2,301249,350.03,67.0
85,86,Jurassic World,"Action,Adventure,Sci-Fi","A new theme park, built on the original site o...",Colin Trevorrow,"Chris Pratt, Bryce Dallas Howard, Ty Simpkins,...",2015,124,7.0,455169,652.18,59.0
87,88,Avatar,"Action,Adventure,Fantasy",A paraplegic marine dispatched to the moon Pan...,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",2009,162,7.8,935408,760.51,83.0
88,89,The Hateful Eight,"Crime,Drama,Mystery","In the dead of a Wyoming winter, a bounty hunt...",Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",2015,187,7.8,341170,54.12,68.0
90,91,Prisoners,"Crime,Drama,Mystery",When Keller Dover's daughter and her friend go...,Denis Villeneuve,"Hugh Jackman, Jake Gyllenhaal, Viola Davis,Mel...",2013,153,8.1,431185,60.96,74.0
92,93,The Help,Drama,An aspiring author during the civil rights mov...,Tate Taylor,"Emma Stone, Viola Davis, Octavia Spencer, Bryc...",2011,146,8.1,342429,169.71,62.0
94,95,Avengers: Age of Ultron,"Action,Adventure,Sci-Fi",When Tony Stark and Bruce Banner try to jump-s...,Joss Whedon,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",2015,141,7.4,516895,458.99,66.0
99,100,The Departed,"Crime,Drama,Thriller",An undercover cop and a mole in the police att...,Martin Scorsese,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,...",2006,151,8.5,937414,132.37,85.0
100,101,Legend,"Biography,Crime,Drama",Identical twin gangsters Ronald and Reginald K...,Brian Helgeland,"Tom Hardy, Emily Browning, Taron Egerton, Paul...",2015,132,7.0,108836,1.87,55.0
101,102,Thor,"Action,Adventure,Fantasy",The powerful but arrogant god Thor is cast out...,Kenneth Branagh,"Chris Hemsworth, Anthony Hopkins, Natalie Port...",2011,115,7.0,570814,181.02,57.0
...,...,...,...,...,...,...,...,...,...,...,...,...
962,963,The Other Boleyn Girl,"Biography,Drama,History",Two sisters contend for the affection of King ...,Justin Chadwick,"Natalie Portman, Scarlett Johansson, Eric Bana...",2008,115,6.7,88260,26.81,50.0
963,964,I Spit on Your Grave,"Crime,Horror,Thriller",A writer who is brutalized during her cabin re...,Steven R. Monroe,"Sarah Butler, Jeff Branson, Andrew Howard,Dani...",2010,108,6.3,60133,0.09,27.0
965,966,Inland Empire,"Drama,Mystery,Thriller",As an actress starts to adopt the persona of h...,David Lynch,"Laura Dern, Jeremy Irons, Justin Theroux, Karo...",2006,180,7.0,44227,NaN,NaN
967,968,The Walk,"Adventure,Biography,Crime","In 1974, high-wire artist Philippe Petit recru...",Robert Zemeckis,"Joseph Gordon-Levitt, Charlotte Le Bon,Guillau...",2015,123,7.3,92378,10.14,NaN
968,969,Wrecker,"Action,Horror,Thriller",Best friends Emily and Lesley go on a road tri...,Micheal Bafaro,"Anna Hutchison, Andrea Whitburn, Jennifer Koen...",2015,83,3.5,1210,NaN,37.0
969,970,The Lone Ranger,"Action,Adventure,Western",Native American warrior Tonto recounts the unt...,Gore Verbinski,"Johnny Depp, Armie Hammer, William Fichtner,To...",2013,150,6.5,190855,89.29,NaN
970,971,Texas Chainsaw 3D,"Horror,Thriller",A young woman travels to Texas to collect an i...,John Luessenhop,"Alexandra Daddario, Tania Raymonde, Scott East...",2013,92,4.8,37060,34.33,62.0
971,972,Disturbia,"Drama,Mystery,Thriller",A teen living under house arrest becomes convi...,D.J. Caruso,"Shia LaBeouf, David Morse, Carrie-Anne Moss, S...",2007,105,6.9,193491,80.05,NaN
972,973,Rock of Ages,"Comedy,Drama,Musical",A small town girl and a city boy meet on the S...,Adam Shankman,"Julianne Hough, Diego Boneta, Tom Cruise, Alec...",2012,123,5.9,64513,38.51,47.0
973,974,Scream 4,"Horror,Mystery","Ten years have passed, and Sidney Prescott, wh...",Wes Craven,"Neve Campbell, Courteney Cox, David Arquette, ...",2011,111,6.2,108544,38.18,52.0
976,977,Dark Places,"Drama,Mystery,Thriller",Libby Day was only eight years old when her fa...,Gilles Paquet-Brenner,"Charlize Theron, Nicholas Hoult, Christina Hen...",2015,113,6.2,31634,NaN,39.0
979,980,The Skin I Live In,"Drama,Thriller","A brilliant plastic surgeon, haunted by past t...",Pedro Almodóvar,"Antonio Banderas, Elena Anaya, Jan Cornet,Mari...",2011,120,7.6,108772,3.19,70.0
981,982,Annie,"Comedy,Drama,Family","A foster kid, who lives with her mean foster m...",Will Gluck,"Quvenzhané Wallis, Cameron Diaz, Jamie Foxx, R...",2014,118,5.3,27312,85.91,33.0
982,983,Across the Universe,"Drama,Fantasy,Musical",The music of the Beatles and the Vietnam War f...,Julie Taymor,"Evan Rachel Wood, Jim Sturgess, Joe Anderson, ...",2007,133,7.4,95172,24.34,56.0
983,984,Let's Be Cops,Comedy,Two struggling pals dress as police officers f...,Luke Greenfield,"Jake Johnson, Damon Wayans Jr., Rob Riggle, Ni...",2014,104,6.5,112729,82.39,30.0
984,985,Max,"Adventure,Family",A Malinois dog that helped American Marines in...,Boaz Yakin,"Thomas Haden Church, Josh Wiggins, Luke Kleint...",2015,111,6.8,21405,42.65,47.0
985,986,Your Highness,"Adventure,Comedy,Fantasy","When Prince Fabious's bride is kidnapped, he g...",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",2011,102,5.6,87904,21.56,31.0
986,987,Final Destination 5,"Horror,Thriller",Survivors of a suspension-bridge collapse lear...,Steven Quale,"Nicholas D'Agosto, Emma Bell, Arlen Escarpeta,...",2011,92,5.9,88000,42.58,50.0
987,988,Endless Love,"Drama,Romance",The story of a privileged girl and a charismat...,Shana Feste,"Gabriella Wilde, Alex Pettyfer, Bruce Greenwoo...",2014,104,6.3,33688,23.39,30.0
988,989,Martyrs,Horror,A young woman's quest for revenge against the ...,Pascal Laugier,"Morjana Alaoui, Mylène Jampanoï, Catherine Bég...",2008,99,7.1,63785,NaN,89.0
989,990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
990,991,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven...",2009,92,6.6,129708,45.80,44.0
991,992,Taare Zameen Par,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0
992,993,Take Me Home Tonight,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0

# Append a dataframe to an existing one.
Please check out the pandas snippets notebook.

# Aggregating and Grouping 
## summarizing data series with basic aggregation methods

In [87]:
print(df['revenue_(millions)'].median())
print(df['revenue_(millions)'].mean())
print(df['revenue_(millions)'].std())
print(df['revenue_(millions)'].var())

47.985
82.95637614678897
103.25354047492473
10661.293620606919

In [89]:
#you can run these functions on the whole dataframe
print(df.mean())  #finds the numeric columns and returns the mean

year                    2012.783000
runtime_(minutes)        113.172000
rating                     6.723200
votes                 169808.255000
revenue_(millions)        82.956376
metascore                 58.985043
longer_than_2              0.308000
dtype: float64

In [90]:
#broad overview of the dataframe
df.describe() #you can run the describe method on a data column too

,year,runtime_(minutes),rating,votes,revenue_(millions),metascore
count,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### .value_counts()
value_counts() function returns object containing counts of unique values. The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

In [93]:
df['director'].value_counts().head()

Ridley Scott          8
Paul W.S. Anderson    6
M. Night Shyamalan    6
Michael Bay           6
David Yates           6
Name: director, dtype: int64

In [94]:
df['director'].value_counts(normalize=True).head()

Ridley Scott          0.008
Paul W.S. Anderson    0.006
M. Night Shyamalan    0.006
Michael Bay           0.006
David Yates           0.006
Name: director, dtype: float64

## Groupby operation
Please check out the pandas snippet notebook too. <br>
This can be used to group large amounts of data and compute operations on these groups.

In [95]:
df.head()

,title,genre,description,director,actors,year,runtime_(minutes),rating,votes,revenue_(millions),metascore,longer_than_2
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,True
1,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,True
2,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,False
3,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,False
4,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,True

In [126]:
filt = (df['director'] == 'David Yates')
df.loc[filt]['genre'].value_counts()

Adventure,Family,Fantasy    4
Adventure,Drama,Fantasy     1
Action,Adventure,Drama      1
Name: genre, dtype: int64

In [127]:
dir_group = df.groupby('director')

In [128]:
dir_group

In [130]:
dir_group.get_group('Christopher Nolan')

,title,genre,description,director,actors,year,runtime_(minutes),rating,votes,revenue_(millions),metascore,longer_than_2
36,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0,True
54,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0,True
64,The Prestige,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0,True
80,Inception,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0,True
124,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0,True

### Most frequent genres for a director?

In [133]:
dir_group['genre'].value_counts()

director                     genre
Aamir Khan                   Drama,Family,Music            1
Abdellatif Kechiche          Drama,Romance                 1
Adam Leon                    Comedy,Romance                1
Adam McKay                   Action,Comedy,Crime           1
                             Action,Comedy,Sport           1
                             Biography,Comedy,Drama        1
                             Comedy                        1
Adam Shankman                Comedy,Drama,Family           1
                             Comedy,Drama,Musical          1
Adam Wingard                 Horror,Thriller               1
                             Thriller                      1
Afonso Poyart                Crime,Drama,Mystery           1
Aisling Walsh                Biography,Drama,Romance       1
Akan Satayev                 Crime,Drama,Thriller          1
Akiva Schaffer               Comedy,Music                  1
Alan Taylor                  Action,Adventure,Fantasy      1
                             Action,Adventure,Sci-Fi       1
Albert Hughes                Action,Adventure,Drama        1
Alejandro Amenábar           Crime,Drama,Mystery           1
Alejandro González Iñárritu  Adventure,Drama,Thriller      1
                             Comedy,Drama,Romance          1
                             Drama                         1
Alessandro Carloni           Animation,Action,Adventure    1
Alex Garland                 Drama,Mystery,Sci-Fi          1
Alex Proyas                  Action,Adventure,Fantasy      1
Alex Ranarivelo              Drama,Sport                   1
Alexander Payne              Comedy,Drama                  1
Alexandre Aja                Comedy,Horror,Thriller        1
                             Drama,Fantasy,Horror          1
                             Horror                        1
                                                          ..
Walter Hill                  Action,Crime,Thriller         1
Warren Beatty                Comedy,Drama,Romance          1
Werner Herzog                Adventure,Biography,Drama     1
Wes Anderson                 Adventure,Comedy,Drama        2
                             Animation,Adventure,Comedy    1
Wes Ball                     Action,Mystery,Sci-Fi         1
                             Action,Sci-Fi,Thriller        1
Wes Craven                   Horror,Mystery                1
Whit Stillman                Comedy,Drama,Romance          1
Will Gluck                   Comedy,Drama,Family           1
                             Comedy,Drama,Romance          1
                             Comedy,Romance                1
Will Slocombe                Comedy,Drama,Romance          1
William Brent Bell           Horror,Mystery,Thriller       1
William Oldroyd              Drama                         1
Woody Allen                  Comedy,Drama,Romance          1
                             Comedy,Fantasy,Romance        1
                             Comedy,Romance                1
                             Drama                         1
                             Drama,Romance                 1
Xavier Dolan                 Drama                         2
Yimou Zhang                  Action,Adventure,Fantasy      1
Yorgos Lanthimos             Comedy,Drama,Romance          1
                             Drama,Thriller                1
Zack Snyder                  Action,Adventure,Fantasy      1
                             Action,Adventure,Sci-Fi       1
                             Action,Drama,Mystery          1
                             Action,Fantasy                1
                             Action,Fantasy,War            1
Zackary Adler                Crime,Drama                   1
Name: genre, Length: 950, dtype: int64

In [148]:
dir_group['genre'].value_counts().loc['David Yates']

genre
Adventure,Family,Fantasy    4
Action,Adventure,Drama      1
Adventure,Drama,Fantasy     1
Name: genre, dtype: int64

### How many films in a year by specific director?

In [136]:
dir_group['year'].value_counts()

director                     year
Aamir Khan                   2007    1
Abdellatif Kechiche          2013    1
Adam Leon                    2016    1
Adam McKay                   2006    1
                             2008    1
                             2010    1
                             2015    1
Adam Shankman                2007    1
                             2012    1
Adam Wingard                 2014    1
                             2016    1
Afonso Poyart                2015    1
Aisling Walsh                2016    1
Akan Satayev                 2016    1
Akiva Schaffer               2016    1
Alan Taylor                  2013    1
                             2015    1
Albert Hughes                2010    1
Alejandro Amenábar           2015    1
Alejandro González Iñárritu  2006    1
                             2014    1
                             2015    1
Alessandro Carloni           2016    1
Alex Garland                 2014    1
Alex Proyas                  2016    1
Alex Ranarivelo              2016    1
Alexander Payne              2011    1
Alexandre Aja                2006    1
                             2010    1
                             2013    1
                                    ..
Werner Herzog                2006    1
Wes Anderson                 2009    1
                             2012    1
                             2014    1
Wes Ball                     2014    1
                             2015    1
Wes Craven                   2011    1
Whit Stillman                2016    1
Will Gluck                   2010    1
                             2011    1
                             2014    1
Will Slocombe                2016    1
William Brent Bell           2016    1
William Oldroyd              2016    1
Woody Allen                  2008    1
                             2011    1
                             2012    1
                             2013    1
                             2016    1
Xavier Dolan                 2014    1
                             2016    1
Yimou Zhang                  2016    1
Yorgos Lanthimos             2009    1
                             2015    1
Zack Snyder                  2006    1
                             2009    1
                             2011    1
                             2013    1
                             2016    1
Zackary Adler                2015    1
Name: year, Length: 987, dtype: int64

In [147]:
dir_group['year'].value_counts().loc['David Yates']

year
2016    2
2007    1
2009    1
2010    1
2011    1
Name: year, dtype: int64

### Most frequent genres in a year?

In [144]:
year_group = df.groupby('year')

In [145]:
year_group['genre'].value_counts()

year  genre
2006  Action,Adventure,Fantasy      2
      Action,Adventure,Thriller     2
      Comedy,Drama                  2
      Comedy,Drama,Romance          2
      Crime,Drama,Mystery           2
      Action,Adventure,Crime        1
      Action,Adventure,Drama        1
      Action,Adventure,Sci-Fi       1
      Action,Comedy,Sport           1
      Action,Crime,Thriller         1
      Action,Fantasy,War            1
      Action,Sci-Fi,Thriller        1
      Adventure,Biography,Drama     1
      Adventure,Comedy,Drama        1
      Adventure,Comedy,Sci-Fi       1
      Adventure,Drama,Thriller      1
      Adventure,Horror,Mystery      1
      Animation,Adventure,Comedy    1
      Animation,Comedy,Family       1
      Biography,Drama               1
      Biography,Drama,History       1
      Comedy,Drama,Horror           1
      Comedy,Horror,Sci-Fi          1
      Comedy,Romance,Sport          1
      Crime,Drama,Fantasy           1
      Crime,Drama,Music             1
      Crime,Drama,Thriller          1
      Drama                         1
      Drama,Fantasy,Mystery         1
      Drama,Fantasy,War             1
                                   ..
2016  Animation,Fantasy             1
      Biography,Crime,Drama         1
      Biography,Drama,Family        1
      Biography,Drama,Thriller      1
      Biography,History,Thriller    1
      Comedy,Crime,Drama            1
      Comedy,Drama,Fantasy          1
      Comedy,Family,Fantasy         1
      Comedy,Family,Romance         1
      Comedy,Fantasy,Horror         1
      Comedy,Horror                 1
      Comedy,Music                  1
      Comedy,Mystery                1
      Crime,Drama,Horror            1
      Crime,Mystery,Thriller        1
      Drama,Fantasy                 1
      Drama,History                 1
      Drama,History,Thriller        1
      Drama,History,War             1
      Drama,Horror,Mystery          1
      Drama,Horror,Sci-Fi           1
      Drama,Mystery,Romance         1
      Drama,Mystery,Thriller        1
      Drama,War                     1
      Fantasy,Horror,Thriller       1
      Horror,Mystery,Sci-Fi         1
      Mystery,Thriller              1
      Mystery,Thriller,Western      1
      Romance,Sci-Fi                1
      Thriller,War                  1
Name: genre, Length: 583, dtype: int64

In [152]:
year_group['genre'].value_counts().loc[2016]

genre
Drama                         25
Comedy                        15
Comedy,Drama                  11
Horror,Thriller               11
Animation,Adventure,Comedy    10
Crime,Drama,Thriller           9
Comedy,Drama,Romance           8
Action,Adventure,Fantasy       7
Action,Adventure,Sci-Fi        7
Action,Crime,Drama             7
Thriller                       7
Action,Adventure,Comedy        6
Biography,Drama                6
Drama,Romance                  6
Action,Adventure,Drama         5
Biography,Drama,History        5
Comedy,Romance                 5
Crime,Drama                    5
Drama,Thriller                 5
Action,Biography,Drama         4
Action,Comedy,Crime            4
Action,Drama,History           4
Adventure,Family,Fantasy       4
Biography,Comedy,Drama         4
Crime,Drama,Mystery            4
Drama,Horror,Thriller          4
Horror                         4
Action,Adventure,Crime         3
Action,Comedy                  3
Action,Drama,Thriller          3
                              ..
Animation,Fantasy              1
Biography,Crime,Drama          1
Biography,Drama,Family         1
Biography,Drama,Thriller       1
Biography,History,Thriller     1
Comedy,Crime,Drama             1
Comedy,Drama,Fantasy           1
Comedy,Family,Fantasy          1
Comedy,Family,Romance          1
Comedy,Fantasy,Horror          1
Comedy,Horror                  1
Comedy,Music                   1
Comedy,Mystery                 1
Crime,Drama,Horror             1
Crime,Mystery,Thriller         1
Drama,Fantasy                  1
Drama,History                  1
Drama,History,Thriller         1
Drama,History,War              1
Drama,Horror,Mystery           1
Drama,Horror,Sci-Fi            1
Drama,Mystery,Romance          1
Drama,Mystery,Thriller         1
Drama,War                      1
Fantasy,Horror,Thriller        1
Horror,Mystery,Sci-Fi          1
Mystery,Thriller               1
Mystery,Thriller,Western       1
Romance,Sci-Fi                 1
Thriller,War                   1
Name: genre, Length: 105, dtype: int64

### Mean revenue for each director

In [154]:
dir_group['revenue_(millions)'].mean()

director
Aamir Khan                       1.200000
Abdellatif Kechiche              2.200000
Adam Leon                             NaN
Adam McKay                     109.535000
Adam Shankman                   78.665000
Adam Wingard                    10.535000
Afonso Poyart                         NaN
Aisling Walsh                         NaN
Akan Satayev                          NaN
Akiva Schaffer                   9.390000
Alan Taylor                    148.045000
Albert Hughes                   94.820000
Alejandro Amenábar               0.050000
Alejandro González Iñárritu     86.760000
Alessandro Carloni             143.520000
Alex Garland                    25.440000
Alex Proyas                     31.140000
Alex Ranarivelo                       NaN
Alexander Payne                 82.620000
Alexandre Aja                   22.313333
Alexandros Avranas                    NaN
Alexi Pappas                          NaN
Alfonso Cuarón                 154.685000
Alfonso Gomez-Rejon              6.740000
Allen Coulter                   19.060000
Amber Tamblyn                         NaN
Amma Asante                      3.900000
Ana Lily Amirpour                     NaN
Andrea Arnold                    0.660000
Andrew Dominik                   3.900000
                                  ...
Tom Gormican                    26.050000
Tom Hooper                     100.096667
Tom McCarthy                    44.990000
Tom McGrath                    148.340000
Tom Six                          0.180000
Tom Tykwer                      11.170000
Tomas Alfredson                 24.100000
Tony Gilroy                    113.170000
Tony Scott                      81.560000
Travis Knight                   48.020000
Tyler Shields                         NaN
Wally Pfister                   23.010000
Walt Dohrn                     153.690000
Walter Hill                           NaN
Warren Beatty                    3.650000
Werner Herzog                    5.480000
Wes Anderson                    41.860000
Wes Ball                        92.050000
Wes Craven                      38.180000
Whit Stillman                   14.010000
Will Gluck                      66.703333
Will Slocombe                         NaN
William Brent Bell              35.790000
William Oldroyd                       NaN
Woody Allen                     28.238000
Xavier Dolan                     3.490000
Yimou Zhang                     45.130000
Yorgos Lanthimos                 4.405000
Zack Snyder                    195.148000
Zackary Adler                    6.530000
Name: revenue_(millions), Length: 644, dtype: float64

In [157]:
dir_group['revenue_(millions)'].median().loc['David Yates']

293.49

In [158]:
dir_group['revenue_(millions)'].median().loc['Christopher Nolan']

292.57

### Mean and Median revenue for each director

In [159]:
dir_group['revenue_(millions)'].agg(['median', 'mean'])

                              median        mean
director
Aamir Khan                     1.200    1.200000
Abdellatif Kechiche            2.200    2.200000
Adam Leon                        NaN         NaN
Adam McKay                   109.845  109.535000
Adam Shankman                 78.665   78.665000
Adam Wingard                  10.535   10.535000
Afonso Poyart                    NaN         NaN
Aisling Walsh                    NaN         NaN
Akan Satayev                     NaN         NaN
Akiva Schaffer                 9.390    9.390000
Alan Taylor                  148.045  148.045000
Albert Hughes                 94.820   94.820000
Alejandro Amenábar             0.050    0.050000
Alejandro González Iñárritu   42.340   86.760000
Alessandro Carloni           143.520  143.520000
Alex Garland                  25.440   25.440000
Alex Proyas                   31.140   31.140000
Alex Ranarivelo                  NaN         NaN
Alexander Payne               82.620   82.620000
Alexandre Aja                 25.000   22.313333
Alexandros Avranas               NaN         NaN
Alexi Pappas                     NaN         NaN
Alfonso Cuarón               154.685  154.685000
Alfonso Gomez-Rejon            6.740    6.740000
Allen Coulter                 19.060   19.060000
Amber Tamblyn                    NaN         NaN
Amma Asante                    3.900    3.900000
Ana Lily Amirpour                NaN         NaN
Andrea Arnold                  0.660    0.660000
Andrew Dominik                 3.900    3.900000
...                              ...         ...
Tom Gormican                  26.050   26.050000
Tom Hooper                   138.800  100.096667
Tom McCarthy                  44.990   44.990000
Tom McGrath                  148.340  148.340000
Tom Six                        0.180    0.180000
Tom Tykwer                     4.200   11.170000
Tomas Alfredson               24.100   24.100000
Tony Gilroy                  113.170  113.170000
Tony Scott                    81.560   81.560000
Travis Knight                 48.020   48.020000
Tyler Shields                    NaN         NaN
Wally Pfister                 23.010   23.010000
Walt Dohrn                   153.690  153.690000
Walter Hill                      NaN         NaN
Warren Beatty                  3.650    3.650000
Werner Herzog                  5.480    5.480000
Wes Anderson                  45.510   41.860000
Wes Ball                      92.050   92.050000
Wes Craven                    38.180   38.180000
Whit Stillman                 14.010   14.010000
Will Gluck                    58.400   66.703333
Will Slocombe                    NaN         NaN
William Brent Bell            35.790   35.790000
William Oldroyd                  NaN         NaN
Woody Allen                   23.210   28.238000
Xavier Dolan                   3.490    3.490000
Yimou Zhang                   45.130   45.130000
Yorgos Lanthimos               4.405    4.405000
Zack Snyder                  210.590  195.148000
Zackary Adler                  6.530    6.530000

[644 rows x 2 columns]

In [160]:
dir_group['revenue_(millions)'].agg(['median', 'mean']).loc['David Yates']

median    293.490000
mean      271.751667
Name: David Yates, dtype: float64

### % of action movies in each year?

In [180]:
year_group['genre'].str.contains('Action').sum()

AttributeError: Cannot access attribute 'str' of 'SeriesGroupBy' objects, try using the 'apply' method

In [196]:
year_group['genre'].apply(lambda x: x.str.contains('Fantasy').value_counts())

year
2006  False     38
      True       6
2007  False     46
      True       7
2008  False     46
      True       6
2009  False     42
      True       9
2010  False     52
      True       8
2011  False     53
      True      10
2012  False     57
      True       7
2013  False     80
      True      11
2014  False     91
      True       7
2015  False    120
      True       7
2016  False    274
      True      23
Name: genre, dtype: int64

In [200]:
aa = df.groupby(df['genre'].str.contains('Action'))

In [203]:
aa.groups

{False: Int64Index([  1,   2,   3,   6,   7,   9,  10,  11,  13,  15,
             ...
             988, 989, 991, 992, 994, 995, 996, 997, 998, 999],
            dtype='int64', length=697),
 True: Int64Index([  0,   4,   5,   8,  12,  14,  17,  24,  26,  29,
             ...
             938, 944, 948, 954, 956, 958, 968, 969, 990, 993],
            dtype='int64', length=303)}

In [174]:
len(df[(df['genre'].str.contains('Action')) & (df['year']==2006)])

11

In [178]:
len(df[df['year']==2006])

44

# Handling Missing Values
Please checkout the pandas snippets notebook.

## Handling Custom missing values in .csv files
In addition to .replace() method introduced in pandas snippets file, before loading a .csv file you can specify a list containg custome values you want to be considered as nan values. pass the list to na_values argument in 

    nan_vals = ['Missing', 'no data']
    pd.read_csv('datasets_1474_2639_IMDB-Movie-Data.csv', na_values=nan_vals).
    
na_values: scalar, str, list-like, or dict, optional Additional strings to recognize as NA/NaN. If dict passed, specific per-column NA values.

In [48]:
df.isnull().sum()

rank                    0
title                   0
genre                   0
description             0
director                0
actors                  0
year                    0
runtime (minutes)       0
rating                  0
votes                   0
revenue (millions)    128
metascore              64
dtype: int64

you can remove missing values by using the .dropna() method as shown in pandas snippet notebook.

# Writing CSV data 
Write object to a comma-separated values (csv) file.

In [56]:
filt = ((df['year']==2016) & (df['revenue (millions)']>200))
df_2016 = df.loc[filt, ['title', 'director', 'year', 'revenue (millions)']]

In [57]:
df_2016.head()

,title,director,year,revenue (millions)
3,Sing,Christophe Lourdelet,2016,270.32
4,Suicide Squad,David Ayer,2016,325.02
10,Fantastic Beasts and Where to Find Them,David Yates,2016,234.02
12,Rogue One,Gareth Edwards,2016,532.17
13,Moana,Ron Clements,2016,248.75

In [ ]:
df_2016.to_csv('modified_movies.csv')

For additional info on how to read and write files in pandas check out the link below:<br>
https://realpython.com/pandas-read-write-files/